.parent {
  color: blue;

  & > .element {
    //">"elementの一階層下にある要素に対してスタイルを適用
    color: purple;

    &.second-child {
      color: black;
    }
  }
}

.element {
  color: red;
}

// .child {
//   color: purple;
// }
